name: Ping Search Engines

on:
  push:
    branches:
      - main
  workflow_dispatch: # This adds the manual "Run" button

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Google
        run: |
          curl "https://www.google.com/ping?sitemap=https://estransport.github.io/estransportcourier/sitemap.xml"
      
      - name: Ping Bing
        run: |
          curl "https://www.bing.com/ping?sitemap=https://estransport.github.io/estransportcourier/sitemap.xml"
